body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 60vw;
    background-color: #161616f1;
    color: white;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

section {
    padding-top: 10px;
}

html {
    scroll-behavior: smooth;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

p {
    font-size: 12px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #131212;
    color: white;
}

@media (max-width: 600px) {
    nav ul {
        display: block;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    header{
        width: 100vw;
    }
}

#about {
    background: url('images/RootsOfYggdrasil.png') center/cover no-repeat;
}

#grass {
    background: url('images/grass.webp') center/cover no-repeat;
}

#mariners {
    background: url('images/mariners.png') center/cover no-repeat;
}

#roots {
    background: url('images/RootsOfYggdrasil.png') center/cover no-repeat;
}

#deep-astray {
    background: url('images/DeepAstray.png') center/cover no-repeat;
}

#meowtch {
    background: url('images/meowtch.png') center/cover no-repeat;
}

#eye {
    background: url('images/eyesjpg.jpg') center/cover no-repeat;
}

#alone {
    background: url('images/Alone.png') center/cover no-repeat;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 10px;
}

.tag-soup {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    padding: 5px;
    background-color: #131212;
}

.tag {
    background-color: #131212;
    border: 2px solid #131212;
    color: #acacac;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    cursor: default;
    transition: all 0.3s ease;
}

.tag:hover {
    background-color: #131212;
    border: 2px solid white;
    color: white;
    transform: scale(1.3);
}

.tag.small {
    font-size: 8px;
}

.tag.medium {
    font-size: 10px;
}

.tag.large {
    font-size: 12px;
}

.tag.xlarge {
    font-size: 20px;
}

.tag:focus {
    outline: none;
    background-color: #333;
    color: white;
}

.name{
    font-size: 20px;
}

.contact-btn {
    text-decoration: none;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: #131212;
    padding: 10px;
    margin: 5px;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transform: scale(1.3);
    transition: all 0.3s ease;
}

.contact-row {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #131212;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 1000;
    width: 100%;
}

.contact-row .contact-btn {
    margin: 0 5px;
}

.contact-btn img.contact-icon {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.description {
    background-color: #131212;
}

.section-divider {
    border: none;
    height: 4px;
    background-color: #131212;
    margin: 0px;
}

.peek-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #131212;
    margin-bottom: 10px;
}

.peek-image:hover {
    transform: scale(2);
    transition: all 0.3s ease;
    border-radius: 0%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.box {
    padding: 20px;
    text-align: center;
    flex: 1;
}

.game-link{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    transition: all 0.3s ease;
}

.game-link:hover {
    border: 2px solid rgb(255, 255, 255);
    background-color: #131212;
    color: white;
    font-size: 20px;
    transform: scale(2);
    transition: all 0.3s ease;
    
}